// This file contains resets, variables, mixins, animations, etc.

//////////////////////////////////
// Resets

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

//////////////////////////////////
// Variables

// Basic Colors
$color-white: #fff;
$color-black: black;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// Color Pallette
$color-1: #f9f7f7;

$color-2: #dbe2ef;
$color-2-dark: #b8c6df;

$color-3: #3f72af;

$color-4: #112d4e;

//////////////////////////////////
// Utilities

.center-text {
  text-align: center;
}

//////////////////////////////////
// Animations

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//////////////////////////////////
// Typography

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.2;
  color: $color-2;
}

// ---------------Heading Primary---------------

.heading-primary {
  color: $color-1;
  margin-bottom: 1rem;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 9rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    animation: fadeDown 1s;
    padding-bottom: 1rem;
    overflow: hidden;
  }

  &--sub {
    font-size: 4.5rem;
    font-weight: 300;
    letter-spacing: 0.6rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid $color-1;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.85s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }

  &__icon-box {
    padding-top: 0.4rem;
    font-size: 4rem;
    // parent was block so inherited block display... needed to be inline block
    display: inline-block;
  }
}

// ---------------Heading Secondary---------------
.heading-secondary {
  color: $color-1;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  backface-visibility: hidden;
  overflow: hidden;
  text-align: center;

  &__button--main {
    opacity: 0;
    animation: fadeIn 0.6s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    display: block;
  }

  &__button--icon {
    color: $color-1;
    opacity: 0;
    animation: fadeIn 0.6s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    font-size: 3.5rem;
    padding-top: 1.5rem;
    display: inline-block;
    transition: all 0.3s;

    &:hover {
      transform: translateY(0.7rem);
    }
  }

  // if hovered and main button is not hovered then set background color of main
  // working but makes selection even if icon is not hovered... trying to fix
  // a:hover &__button--main:not(:hover) {
  //   background-color: rgba($color-1, 0.1);
  // }
}

// ---------------Icons---------------
.icon {
  height: 5rem;
  width: 5rem;
  fill: $color-2-dark;
  transition: all 0.4s;
  overflow: hidden;
  //Stops the stuttering from happening on icon transitions
  backface-visibility: hidden;

  &__resume,
  &__linkedin,
  &__github {
    &:hover {
      cursor: pointer;
      fill: $color-1;
      transform: translateY(-0.3rem);
    }
  }

  &__projects {
    fill: $color-1;
    width: 3.5rem;
    height: 3.5rem;
  }

  &__footer {
    display: inline-block;
    text-align: center;
    transition: all 0.4s;
    overflow: hidden;
    backface-visibility: hidden;

    &:hover {
      cursor: pointer;
      transform: translateY(-0.3rem) scale(1.2);
    }
  }
}

// ---------------Headings---------------

.heading {
  text-align: center;
  margin-bottom: 10rem;

  &__section {
    &--skills {
      display: inline-block;
      font-size: 6rem;
      text-transform: uppercase;
      font-weight: 300;
      border-bottom: 0.1rem solid $color-1;
    }

    &--projects {
      display: inline-block;
      font-size: 6rem;
      text-transform: uppercase;
      font-weight: 300;
      border-bottom: 0.1rem solid $color-4;
    }
  }
}

.heading-tertiary {
  color: $color-grey-dark-3;
  font-size: 3.5rem;
  font-weight: 300;
}
