// This file contains reusable components

//////////////////////////////////
// Icon Box

.icon-box {
  &-item {
    color: $color-2-dark;
    transition: all 0.4s;
    overflow: hidden;
    //Stops the stuttering from happening on icon transitions
    backface-visibility: hidden;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &--1 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 1.4s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    &--2 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 1.8s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    &--3 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 2.2s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    &:hover {
      cursor: pointer;
      color: $color-1;
      transform: translateY(-0.3rem);
    }
  }
}

//////////////////////////////////
// Buttons

.btn {
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5rem;

  &--color-1 {
    color: $color-1;
    border: 0.1rem solid $color-1;
    transition: all 0.3s;
    &:hover {
      background-color: rgba($color-1, 0.1);
    }

    &:hover ~ .icon-header {
      transform: translateY(0.7rem);
    }

    .icon-header ~ &:hover {
      background-color: rgba($color-1, 0.1);
    }
  }
}
