// This file contains reusable components

//////////////////////////////////
// Icon Box

.icon-box {
  &-item {
    transition: all 0.4s;
    overflow: hidden;
    //Stops the stuttering from happening on icon transitions
    backface-visibility: hidden;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &--1 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 1.4s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    &--2 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 1.8s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    &--3 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 2.2s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
}

//////////////////////////////////
// Buttons

.btn {
  text-decoration: none;
  border: none;
  cursor: pointer;

  &--color-1 {
    color: $color-1;
    padding: 0.7rem 1.5rem;
    border-radius: 5rem;
    border: 0.1rem solid $color-1;
    transition: all 0.3s;
    &:hover {
      background-color: rgba($color-1, 0.1);
    }

    &:hover ~ .icon-header {
      transform: translateY(0.7rem);
    }

    .icon-header ~ &:hover {
      background-color: rgba($color-1, 0.1);
    }
  }

  &--projects {
    display: block;
    font-family: Lato;
    font-size: 1.75rem;
    color: $color-4;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 0.1rem solid $color-4;
    transition: all 0.4s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba($color-4, 0.3);
    }
  }

  &--modal {
    display: inline-block;
    text-align: center;
    font-family: Lato;
    font-size: 1.75rem;
    color: $color-3;
    padding: 1rem 2rem;
    margin-right: 1rem;
    background-color: transparent;
    border: 0.1rem solid $color-3;
    transition: all 0.4s;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      background-color: rgba($color-2-dark, 0.5);
    }
  }
}

//////////////////////////////////
// About Section

.about {
  &__container {
    max-width: 90rem;
    min-width: 50%;
    margin: 0 auto;
    min-height: 60%;
    max-height: 50rem;
    background-color: $color-1;
    color: black;
    border-radius: 0.7rem;
    box-shadow: 0 1.25rem 1rem 0.5rem rgba($color-black, 0.3);
    overflow: hidden;
  }

  &__title {
    text-align: center;
    margin-top: 3rem;
  }
}

//////////////////////////////////
// Skill Boxes

.skills {
  &__skillBox {
    display: flex;
    flex-direction: column;
    color: $color-grey-dark;
    background-color: $color-1;
    // Might incorporate later:
    // background-image: linear-gradient(to bottom, $color-1, $color-2-dark);
    border-radius: 0.5rem;
    box-shadow: 0 1.25rem 1rem 0.5rem rgba($color-black, 0.3);
    width: 30rem;
    text-align: center;
    transition: transform 0.3s, scale 0.3s;
    overflow: hidden;

    &:hover {
      transform: translateY(-1rem) scale(1.05);
    }
  }

  &__heading {
    padding: 2rem;
    border-bottom: 0.1rem solid $color-grey-dark-2;
  }

  &__skillList {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
  }
}

.li {
  color: $color-grey-dark;
  list-style: none;
  font-size: 1.75rem;
  padding: 1rem 2rem;
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 0.1rem solid $color-2-dark;
  }

  &:hover {
    color: $color-2;
    background-color: $color-4;
  }
}

//////////////////////////////////
// Projects Section
.projects {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: grid;
    grid-template-rows: repeat(1, 30rem);
    grid-template-columns: repeat(1, 39rem);
    // grid-gap: 0.5rem;
  }

  &__button {
    padding-bottom: 2rem;
  }

  .item {
    &:hover > * {
      opacity: 1;
    }

    &--more {
      opacity: 0;
      transition: all 0.4s;
      width: 100%;
      height: 100%;
      background-color: rgba($color-grey-dark-2, 0.4);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    &--1 {
      border: 0.1rem solid $color-grey-dark-2;
      background-size: 100rem;
      background-repeat: no-repeat;
      background-position: top;
      background-image: url(/img/project-rps.JPG);
    }
  }
}

//////////////////////////////////
// Footer Section

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    margin-bottom: 2rem;
  }

  &__links {
    font-size: 1.75rem;
    font-weight: 300;
  }

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-grey-light-2;
    position: relative;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link:hover,
  &__link:hover::after {
    opacity: 1;
    transform: translateY(0);
  }

  &__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    top: 100%;
    left: 0;
    background-color: $color-1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(-0.3rem);
  }

  &__text {
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 300;
    backface-visibility: hidden;
    overflow: hidden;

    &--span {
      display: inline-block;
      color: $color-3;
      transition: all 0.3s;
      padding: 0 0.5rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

//////////////////////////////////
// Popup Component
.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  @supports (-webkit-backdrop-filter: blur(1rem)) or
    (backdrop-filter: blur(1rem)) {
    background-color: rgba($color-black, 0.3);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  &__content {
    width: 70rem;
    background-color: $color-white;
    height: 60rem;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // transform: translate(-50%, -50%) scale(0);
    // transition: all 0.5s 0.2s;
  }

  &__img {
    // setting the width/height to 100% because I want the img to take up 100% of the total width/height of the top div
    width: 100%;
    height: 100%;
  }

  &__bottom {
    height: 80rem;
    background-color: $color-1;
    display: flex;
    flex-direction: row;

    &--left {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &--right {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    display: flex;
    margin: 0.5rem 0;
    align-self: center;
  }

  &__text {
    font-family: Lato;
    font-weight: 400;
    margin: 1rem 2.1rem;
    color: $color-3;
    font-size: 1.8rem;

    &--sub {
      font-size: 1.4rem;
    }
  }

  &__links {
    margin: 1rem 0 1.6rem 2.1rem;
    align-self: flex-start;
  }

  &__tech {
    &--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style: none;
      margin-top: 1.7rem;
      margin-right: 1.1rem;
    }

    &--item {
      // min-width: 9.5rem;
      // height: auto;
      flex: 1 1 0px;
      padding: 1rem 1.5rem;
      margin: 0 1rem 1rem 0;
      color: $color-1;
      background-color: $color-3;
      // border: 0.1rem solid $color-4;
      text-align: center;
      font-size: 1.1rem;
      font-family: Montserrat;
      font-weight: 400;
    }
  }
}
