// This file contains reusable components

//////////////////////////////////
// Icon Box

.icon-box {
  &-item {
    color: $color-2-dark;
    transition: all 0.4s;
    overflow: hidden;
    //Stops the stuttering from happening on icon transitions
    backface-visibility: hidden;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &--1 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 1.4s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    &--2 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 1.8s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    &--3 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 2.2s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    &:hover {
      cursor: pointer;
      color: $color-1;
      transform: translateY(-0.3rem);
    }
  }
}

//////////////////////////////////
// Buttons

.btn {
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5rem;

  &--color-1 {
    color: $color-1;
    border: 0.1rem solid $color-1;
    transition: all 0.3s;
    &:hover {
      background-color: rgba($color-1, 0.1);
    }

    &:hover ~ .icon-header {
      transform: translateY(0.7rem);
    }

    .icon-header ~ &:hover {
      background-color: rgba($color-1, 0.1);
    }
  }
}

//////////////////////////////////
// Skill Boxes

.skills {
  &__skillBox {
    display: flex;
    flex-direction: column;
    color: $color-grey-dark;
    background-color: $color-1;
    border-radius: 0.5rem;
    box-shadow: 0 1.25rem 1rem 0.5rem rgba($color-black, 0.3);
    width: 30rem;
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden;

    &:hover {
      transform: translateY(-1.5rem);
    }
  }

  &__heading {
    padding: 2rem;
    border-bottom: 0.1rem solid $color-grey-dark-2;
  }

  &__skillList {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
  }
}

.li {
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 0.1rem solid $color-2-dark;
  }

  &:hover {
    color: $color-2;
    background-color: $color-4;
  }
}
