//////////////////////////////////
// Header

.header {
  height: 100vh;
  //   background-color: $color-4;
  background-image: linear-gradient(to bottom, $color-4, $color-3);
  background-size: cover;
  background-position: top;
  position: relative;

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__button-box {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include respond(phone) {
      bottom: 8rem;
    }
  }
}

//////////////////////////////////
// About Section

.section-about {
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-2, 0.4),
      rgba($color-2, 0.4)
    ),
    url(/img/rmnp.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

//////////////////////////////////
// Skills Section

.section-skills {
  background-color: $color-3;
  // Might incorporate later:
  background-image: linear-gradient(to bottom, $color-3, $color-2);
  padding: 10rem 0;
  padding-bottom: 12rem;
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.skills {
  &__heading {
    text-align: center;
  }

  &__grid {
    display: flex;
    // justify-content: center;
    align-items: flex-start;
    justify-content: space-evenly;

    @include respond(small-desktop) {
      justify-content: space-evenly;
    }

    @include respond(phone) {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__skillBox {
    &:not(:last-child) {
      // margin-right: 15rem;

      @include respond(small-desktop) {
        margin-right: 0;
      }

      @include respond(phone) {
        margin-bottom: 3rem;
      }
    }
  }
}

//////////////////////////////////
// Projects Section

.section-projects {
  background-color: $color-2;
  color: $color-4;
  padding: 10rem 0;
  padding-top: 8rem;
  overflow: hidden;
}

//////////////////////////////////
// Footer

.footer {
  background-color: $color-grey-dark-3;
  padding: 6rem 0;
  padding-top: 4rem;
}
