//////////////////////////////////
// Header

.header {
  height: 100vh;
  //   background-color: $color-4;
  background-image: linear-gradient(to bottom, $color-4, $color-3);
  background-size: cover;
  background-position: top;
  position: relative;

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__button-box {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

//////////////////////////////////
// About Section

.section-about {
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-2, 0.4),
      rgba($color-2, 0.4)
    ),
    url(/img/rmnp.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

//////////////////////////////////
// Skills Section

.section-skills {
  background-color: $color-3;
  padding: 10rem 0;
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.skills {
  &__heading {
    text-align: center;
  }

  &__grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__skillBox {
    &:not(:last-child) {
      margin-right: 15rem;
    }
  }
}

//////////////////////////////////
// Footer

.footer {
  background-color: $color-grey-dark-3;
  padding: 6rem 0;
}
