*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.center-text {
  text-align: center;
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.2;
  color: #dbe2ef;
}

.heading-primary {
  color: #f9f7f7;
  margin-bottom: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  display: block;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  -webkit-animation: fadeDown 1s;
          animation: fadeDown 1s;
  padding-bottom: 1rem;
  overflow: hidden;
}

.heading-primary--sub {
  font-size: 4.5rem;
  font-weight: 300;
  letter-spacing: 0.6rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid #f9f7f7;
  opacity: 0;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
}

.heading-primary__icon-box {
  margin-top: 0.3rem;
  font-size: 4rem;
  display: inline-block;
}

.heading-secondary {
  color: #f9f7f7;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
}

.heading-secondary__button--main {
  opacity: 0;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}

.heading-secondary__button--icon {
  color: #f9f7f7;
  opacity: 0;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: 3.5rem;
  padding-top: 1.5rem;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.heading-secondary__button--icon:hover {
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
}

.heading-secondary--section {
  text-align: center;
  margin-bottom: 10rem;
}

.heading-tertiary {
  color: #333;
  font-size: 3.5rem;
  font-weight: 300;
}

.icon-box-item {
  color: #b8c6df;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.icon-box-item:not(:last-child) {
  margin-right: 1.5rem;
}

.icon-box-item--1 {
  opacity: 0;
  -webkit-animation: fadeIn 0.9s ease-out;
          animation: fadeIn 0.9s ease-out;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.icon-box-item--2 {
  opacity: 0;
  -webkit-animation: fadeIn 0.9s ease-out;
          animation: fadeIn 0.9s ease-out;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.icon-box-item--3 {
  opacity: 0;
  -webkit-animation: fadeIn 0.9s ease-out;
          animation: fadeIn 0.9s ease-out;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.icon-box-item:hover {
  cursor: pointer;
  color: #f9f7f7;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn {
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5rem;
}

.btn--color-1 {
  color: #f9f7f7;
  border: 0.1rem solid #f9f7f7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--color-1:hover {
  background-color: rgba(249, 247, 247, 0.1);
}

.btn--color-1:hover ~ .icon-header {
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
}

.icon-header ~ .btn--color-1:hover {
  background-color: rgba(249, 247, 247, 0.1);
}

.skills__skillBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #777;
  background-color: #f9f7f7;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1.25rem 1rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.25rem 1rem 0.5rem rgba(0, 0, 0, 0.3);
  width: 30rem;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  overflow: hidden;
}

.skills__skillBox:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.skills__heading {
  padding: 2rem;
  border-bottom: 0.1rem solid #999;
}

.li {
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.li:not(:last-child) {
  border-bottom: 0.1rem solid #b8c6df;
}

.li:hover {
  color: #dbe2ef;
  background-color: #112d4e;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#112d4e), to(#3f72af));
  background-image: linear-gradient(to bottom, #112d4e, #3f72af);
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__button-box {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.section-skills {
  background-color: #3f72af;
  padding: 10rem 0;
  overflow: hidden;
}

.skills__heading {
  text-align: center;
}

.skills__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=main.css.map */