.btn {
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5rem;

  &--color-1 {
    color: $color-1;
    border: 0.1rem solid $color-1;
    transition: all 0.3s;
    &:hover {
      background-color: rgba($color-1, 0.1);
    }

    &:hover ~ .icon-header {
      transform: translateY(0.7rem);
    }

    .icon-header ~ &:hover {
      background-color: rgba($color-1, 0.1);
    }
  }
}
