.icon-box {
  &-item {
    color: $color-2-dark;
    transition: all 0.3s;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &--1 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 1.4s;
      animation-fill-mode: forwards;
    }
    &--2 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 1.8s;
      animation-fill-mode: forwards;
    }
    &--3 {
      opacity: 0;
      animation: fadeIn 0.9s ease-out;
      animation-delay: 2.2s;
      animation-fill-mode: forwards;
    }

    &:hover {
      cursor: pointer;
      color: $color-1;
      transform: translateY(-0.2rem);
    }
  }
}
