body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.2;
  color: $color-2;
}

.heading-primary {
  color: $color-1;
  margin-bottom: 1rem;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 9rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    animation: fadeDown 1s;
    padding-bottom: 1rem;
    overflow: hidden;
  }

  &--sub {
    font-size: 4.5rem;
    font-weight: 300;
    letter-spacing: 0.6rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid $color-1;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.85s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }

  &__icon-box {
    margin-top: 0.3rem;
    font-size: 4rem;
    // parent was block so inherited block display... needed to be inline block
    display: inline-block;
  }
}

.heading-secondary {
  color: $color-1;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  backface-visibility: hidden;
  overflow: hidden;

  &__button--main {
    opacity: 0;
    animation: fadeIn 0.6s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    display: block;
  }

  &__button--icon {
    color: $color-1;
    opacity: 0;
    animation: fadeIn 0.6s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    font-size: 3.5rem;
    padding-top: 1.5rem;
    display: inline-block;
    transition: all 0.3s;

    &:hover {
      transform: translateY(0.7rem);
    }
  }

  // if hovered and main button is not hovered then set background color of main
  // working but makes selection even if icon is not hovered... trying to fix
  // a:hover &__button--main:not(:hover) {
  //   background-color: rgba($color-1, 0.1);
  // }
}
